html{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.nav{
  background: #000;
  height: 100px;
}

.nav-title{
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  color: #fff;
}
